<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UnB Avalia</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <nav>
        <a class="logo" href="/">UnB Avalia</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="/">Início</a></li>
          <li><a href="/turmas">Turmas</a></li>
          <li><a href="#">Ranking</a></li>
          <li><a href="#">Entrar</a></li>
          <li><a href="#">Registrar</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <h1 class="title">UnB Avalia!</h1>
        <p class ="subtitle">Uma nova forma de avaliar os professores</p>
        <p class ="texto">Descubra os melhores professores e disciplinas na UnB!

            Aqui, os alunos têm a oportunidade de avaliar seus professores, dando acesso a informações valiosas na hora de escolher suas disciplinas.
            
            Participe dessa comunidade acadêmica, compartilhe suas opiniões e faça escolhas informadas. Juntos, podemos melhorar a qualidade do ensino na UnB.</p>
        
        <img src="avaliacao.png" class="imagem">
    </main>
  </body>
</html>